[{:datatype "Toggle", :name "test", :option1 "test", :option2 "test", :avg 50, :votes [{:id "keren", :name "test", :choice 0} {:id "rachel", :name "test", :choice 100} {:id "chris", :name "test", :choice 100} {:id "sarah", :name "test", :choice 100}]} {:datatype "Toggle", :name "choice", :option1 "1", :option2 "2", :avg 50, :votes []}]