[{:datatype "Toggle", :name "test", :option1 "test", :option2 "test", :avg 50, :votes [{:id "keren", :name "test", :choice 0} {:id "rachel", :name "test", :choice 100} {:id "chris", :name "test", :choice 100} {:id "sarah", :name "test", :choice 100} {:id "grace", :name "test", :choice 0}]}]