div.wrapper .menu {
  border-radius: 0;
}

div.wrapper div.page-content {
  width: 100%;
  padding: 30px;
}

@media screen and (min-width: 768px) {

  div.wrapper div.page-content {
    width: auto;
    max-width: 950px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30;
    padding-right: 30;
  }

}

@media screen and (min-width: 1224px) {

  div.wrapper div.page-content {
    width: auto;
    max-width: 1200px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30;
    padding-right: 30;
  }

}

div.wrapper div.page-content div.results-module {
  position: relative;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin: 20px 0;
  box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.2);
}

div.wrapper div.page-content div.results-module div.teacher-header {
  margin-top: 10px;
}

div.wrapper div.page-content div.response-module {
  position: relative;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin: 20px 0;
  box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.2);
}