div.page .menu {
  border-radius: 0;
}

div.page div.content-section {
  width: 100%;
  padding: 30px;
}

@media screen and (min-width: 768px) {

  div.page div.content-section {
    width: auto;
    max-width: 950px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30;
    padding-right: 30;
  }

}

@media screen and (min-width: 1224px) {

  div.page div.content-section {
    width: auto;
    max-width: 1200px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30;
    padding-right: 30;
  }

}

div.page div.content-section div.module {
  padding: 40px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin: 20px 0;
}

div.page div.content-section div.module div.teacher-header {
  margin-top: 10px;
}